<!-- login.ejs -->
<%- include('../adminLayout/header.ejs') %>
<style>
  .error{
    color: red;
    text-align: center;
  }
</style>

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-4 mx-auto" style="opacity: 85%; border-radius: 10px;">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3">Admin Login</h3>
              <form action="/admin" method="post" id="form">
                <div class="form-group">
                  <label>Username or email *</label>
                  <input type="text" id="email" name="email" class="form-control p_input">
                  <span id="email_error" class="error"></span>
                </div>
                <div class="form-group">
                  <label>Password *</label>
                  <input type="password" id="password" name="password" class="form-control p_input" >
                  <span id="pass_error" class="error"></span>
                </div>
                <% if(typeof message !=='undefined' ){ %>
                  <p class="error" >
                    <%= message %>
                  </p>
                  <% } %>
                    <div class="text-center">
                      <button type="submit" class="btn btn-success btn-block enter-btn">Login</button>
                    </div>
              </form>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>


  <%- include('../adminLayout/footer.ejs') %>