<%- include('../userLayout/head.ejs')%>

    <body>
        <!-- preloader Start -->
        <!-- <div id="preloader">
        <div id="status">
            <img src="/userAssets/images/preloader.gif" id="preloader_image" alt="loader">
        </div>
    </div> -->
        <!--sw header wrapper start-->
        <%- include('../userLayout/landingNav.ejs')%>




            <div data-scroll='1' class="full_width">
                <div class="sw_discver_wrapper sw_dicover_index" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="background-color: #d9eaf3; border-radius: 5px;">
                                <div class="sw_disc_txt_wrapper">

                                    <div class="sw_left_heading_wraper">
                                        <h1>Browse Solar Panels</h1>
                                        <h2>Shop Through our Website</h2>
                                        <img src="/userAssets/images/heading_line.png" alt="title">
                                        <p>Experience top-tier solar panel services with us. Our team is dedicated to
                                            providing high-quality installations and maintenance to ensure maximum
                                            efficiency and longevity of your solar power system. </p>
                                    </div>
                                    <div class="sw_desc_btm_txt">
                                        <div class="sw_disc_image">
                                            <i class="flaticon-sun"></i>
                                        </div>
                                        <div class="sw_disc_head_text">
                                            <h5>Why Choose Solar Connect?</h5>
                                            <p>Transitioning to solar energy not only benefits the environment but also
                                                reduces your energy bills. Take the first step towards a sustainable
                                                future with our expert services.

                                            </p>
                                        </div>
                                    </div>
                                    <div class="sw_desc_btm_txt">
                                        <div class="sw_disc_image">
                                            <i class="flaticon-wind-turbine"></i>
                                        </div>
                                        <div class="sw_disc_head_text">
                                            <h5>Estimate Your Solar Usage</h5>
                                            <p>Curious about how much you can save with solar energy? Use our easy
                                                online calculator to estimate your solar usage and see the potential
                                                benefits for your home or business.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="sw_desc_btm_txt">
                                        <div class="sw_disc_image">
                                            <i class="flaticon-power"></i>
                                        </div>
                                        <div class="sw_disc_head_text">
                                            <h5>Peace of Mind with Our Extended Guarantee</h5>
                                            <p>Enjoy peace of mind with our extended guarantee on all solar panels and
                                                wind energy systems. We stand by the quality and durability of our
                                                products, ensuring you receive the best possible service and support.
                                            </p>
                                            <div style="display: flex; justify-content: center;margin: 20px;">

                                                <button style="border-radius: 10px; ">Browse Products</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="background-color: #c9dbbe; border-radius: 5px;">
                                <div class="sw_disc_txt_wrapper">

                                    <div class="sw_left_heading_wraper">
                                        <h1>Join Us as a Solar Distributor</h1>
                                        <h2>Partner with Us for a Brighter Future</h2>
                                        <img src="/userAssets/images/heading_line.png" alt="title">
                                        <p>Join us in promoting renewable energy and growing your business. Contact us
                                            today to learn more about becoming a solar distributor and start your
                                            journey towards a sustainable and profitable future. </p>
                                    </div>
                                    <div class="sw_desc_btm_txt">
                                        <div class="sw_disc_image">
                                            <i class="flaticon-sun"></i>
                                        </div>
                                        <div class="sw_disc_head_text">
                                            <h5>Become a Solar Distributor</h5>
                                            <p>Expand your business by joining our network of trusted solar
                                                distributors. We provide top-quality solar products and comprehensive
                                                support to help you succeed in the growing renewable energy market.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="sw_desc_btm_txt">
                                        <div class="sw_disc_image">
                                            <i class="flaticon-wind-turbine"></i>
                                        </div>
                                        <div class="sw_disc_head_text">
                                            <h5>Provide Innovative Energy Solutions</h5>
                                            Offer your customers the best in solar technology:
                                            High-Efficiency Solar Panels: Our panels are designed for maximum energy
                                            output and longevity.Advanced Inverters.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="sw_desc_btm_txt">
                                        <div class="sw_disc_image">
                                            <i class="flaticon-power"></i>
                                        </div>
                                        <div class="sw_disc_head_text">
                                            <h5>Specialised Distributor</h5>
                                            <p>Diversify your product offerings with our advanced wind energy solutions.
                                                Provide your clients with cutting-edge technology and expert support to
                                                power of the wind alongside solar energy.
                                            </p>
                                            <div style="display: flex; justify-content: center;margin: 20px;">

                                                <button style="border-radius: 10px; ">Browse Products</button>
                                            </div>
                                            <div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

           

           
        

           
                      

           