<div style="display: flex; height: 100%;">
    <div
        style="background-color: #1a76ff; border-radius: 5px; display: flex; flex-direction: column; justify-content: space-around;align-items: center; width: 50%;">
        <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
            <div>
                <h1>I'm Here for Solar Customer</h1>
            </div>
            <div>

                <img src="https://i.pinimg.com/236x/5b/5f/83/5b5f8338bca714546635bf1135a3c91e.jpg" alt="">
            </div>
            <div style="margin-top: 10px;">
                <button>Sign as Customer</button>
            </div>
            <h1>already Have an Account ?</h1>

        </div>
    </div>

    <div
        style="background-color: #6bccfd; border-radius: 5px; display: flex; flex-direction: column; justify-content: space-around;align-items: center; width: 50%;">
        <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
            <div>
                <h1>I'm Here for Solar Customer</h1>
            </div>
            <div>

                <img style="height: 350px; width: 350px;" src="userAssets/images/landing/Sun energy-bro.svg" alt="">
            </div>
            <div style="margin-top: 10px;">
                <button>Sign as Customer</button>
            </div>
            <h1>already Have an Account ?</h1>

        </div>
    </div>
</div>