<!DOCTYPE html>

<html lang="zxx">
  <!--[endif]-->

  <head>
    <meta charset="utf-8" />
    <title>services</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="smart pest" />
    <meta name="keywords" content="solar system /sun & wind" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />
    <!--start theme style -->
    <link rel="stylesheet" type="text/css" href="/userAssets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/meanmenu.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/slicknav.min.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/venobox/css/venobox.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/camera.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/style_2.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/responsive_2.css" />
    <link rel="stylesheet" type="text/css" href="/userAssets/css/stripe.css" />
    <!-- favicon link-->
    <link rel="shortcut icon" type="image/icon" href="/userAssets/images/favicon.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>