<!-- preloader Start -->

<!-- <div id="preloader">
    <div id="status">
        <img src="/userAssets/images/preloader.gif" id="preloader_image" alt="loader">
    </div>
</div> -->

<!--sw header wrapper start-->

<div class="transparent-menu header-area hidden-menu-bar stick">

    <div class="container">

        <div class="bt_main_menu_wrapper">
            <div class="main-menu-wrapper clear-fix">

                <div class="logo float-left">
                    <a href="/"><img src="/userAssets/images/SolarConnect.png" class="img-responsive" alt="logo"></a>
                </div>

            </div>
            <div class="sc_navigation hidden-sm hidden-xs">
                <nav id="primary-nav" class="dropdown nav_left_margin">
                    <ul class="dropdown menu navigation cart_dropdown_wrapper" style="margin-top: 20px;">
                        <li >
                            <h1  style="font-size: x-large; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style: oblique; font-weight: bolder;"  > Contact Us : +256 67589</h1>
                        </li>
                    </ul>


                </nav>
            </div>
            <!-- /.main-menu-wrapper -->
            <!-- mobile menu area start -->
            <div class="mobile-menu-area visible-sm visible-xs">
                <div class="container header_container">
                    <div class="row">

                        <div class="col-xs-12 cc_menu_top_margin">
                            <!-- mobile menu start -->
                            <div class="mobile-menu">
                                <nav>
                                    <ul class="nav">
                                        <li><a href="/">Home</a>

                                        </li>
                                        <li><a href="about">about us</a>
                                        </li>
                                        <li><a href="service">services</a>
                                        </li>


                                        <li><a href="shop" title="">shop</a>

                                        </li>
                                        <li><a href="contact"> contact us</a>

                                        </li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li class="caret_btn">
                                            <a href="javascript:;"><i
                                                    class="fa fa-shopping-basket"></i><span>8</span></a>
                                            <ul>
                                                <li>
                                                    <div class="cc_cart_wrapper1 menu-button">
                                                        <div class="cc_cart_img_wrapper">
                                                            <img src="/userAssets/images/cart_1.png" alt="cart_img" />
                                                        </div>
                                                        <div class="cc_cart_cont_wrapper">
                                                            <h4><a href="javascript:;">put a title here</a></h4>
                                                            <p>1 <span> $145 </span> </p>
                                                            <h5><i class="fa fa-times"></i></h5>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="cc_cart_wrapper1 menu-button">
                                                        <div class="cc_cart_img_wrapper">
                                                            <img src="/userAssets/images/cart_2.png" alt="cart_img" />
                                                        </div>
                                                        <div class="cc_cart_cont_wrapper">
                                                            <h4><a href="javascript:;">put a title here</a></h4>
                                                            <p>1 <span> $145 </span></p>
                                                            <h5><i class="fa fa-times"></i></h5>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="cc_cart_wrapper1 menu-button">
                                                        <div class="cc_cart_img_wrapper">
                                                            <img src="/userAssets/images/cart_3.png" alt="cart_img" />
                                                        </div>
                                                        <div class="cc_cart_cont_wrapper">
                                                            <h4><a href="javascript:;">put a title here</a></h4>
                                                            <p>1 <span> $145 </span></p>
                                                            <h5><i class="fa fa-times"></i></h5>
                                                        </div>
                                                    </div>
                                                    <div class="btm_cart_wrapper">
                                                        <h5>$450.00</h5>
                                                        <p>3 items</p>
                                                    </div>
                                                    <div class="cart_checkout_btn">

                                                        <a href="checkout"
                                                            class="waves-effect waves-light waves-ripple">checkout</a>

                                                    </div>
                                                </li>

                                            </ul>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                            <!-- mobile menu end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile menu area end -->

            <!-- /.main-menu-wrapper -->
        </div>
    </div>

    <div style="height: 20px;">
    </div>
</div>
<!--sw header wrapper end-->