<!-- preloader Start -->

<!-- <div id="preloader">
    <div id="status">
        <img src="/userAssets/images/preloader.gif" id="preloader_image" alt="loader">
    </div>
</div> -->

<!--sw header wrapper start-->

<div class="transparent-menu header-area hidden-menu-bar stick">

    <div class="container">

        <div class="bt_main_menu_wrapper">
            <div class="main-menu-wrapper clear-fix">

                <div class="logo float-left">
                    <a href="/"><img src="/userAssets/images/SolarConnect.png" class="img-responsive" alt="logo"></a>
                </div>

            </div>
            <div class="sc_navigation hidden-sm hidden-xs">
                <nav id="primary-nav" class="dropdown nav_left_margin">
                    <ul class="dropdown menu navigation cart_dropdown_wrapper">
                        <li><a href="/" title="">Home</a>

                        </li>
                        <li><a href="about" title="">about us</a>
                        </li>
                        <li><a href="service" title="">services</a>
                        </li>



                        <li><a href="shop" title="">shop</a>

                        </li>
                        <li><a href="contact" title="">Contact us</a>

                        </li>
                        <li class="caret_btn">
                            <a href="javascript:;"><i class="fa fa-shopping-basket"></i><span>2</span></a>
                            <ul>
                                <li>
                                    <div class="cc_cart_wrapper1 menu-button">
                                        <div class="cc_cart_img_wrapper">
                                            <img src="/userAssets/images/cart_1.png" alt="cart_img" />
                                        </div>
                                        <div class="cc_cart_cont_wrapper">
                                            <h4><a href="javascript:;">put a title here</a></h4>
                                            <p>1 <span> $145 </span> </p>
                                            <h5><i class="fa fa-times"></i></h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cc_cart_wrapper1 menu-button">
                                        <div class="cc_cart_img_wrapper">
                                            <img src="/userAssets/images/cart_2.png" alt="cart_img" />
                                        </div>
                                        <div class="cc_cart_cont_wrapper">
                                            <h4><a href="javascript:;">put a title here</a></h4>
                                            <p>1 <span> $145 </span></p>
                                            <h5><i class="fa fa-times"></i></h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cc_cart_wrapper1 menu-button">
                                        <div class="cc_cart_img_wrapper">
                                            <img src="/userAssets/images/cart_3.png" alt="cart_img" />
                                        </div>
                                        <div class="cc_cart_cont_wrapper">
                                            <h4><a href="javascript:;">put a title here</a></h4>
                                            <p>1 <span> $145 </span></p>
                                            <h5><i class="fa fa-times"></i></h5>
                                        </div>
                                    </div>
                                    <div class="btm_cart_wrapper">
                                        <h5>$450.00</h5>
                                        <p>3 items</p>
                                    </div>
                                    <div class="cart_checkout_btn">

                                        <a href="checkout"
                                            class="waves-effect waves-light waves-ripple">checkout</a>

                                    </div>
                                </li>

                            </ul>
                        </li>

                        <!-- Menu -->
                        <!--search -->
                    </ul>
                    <div class="header_right_inner_page">
                        <div class="search-wrapper">
                            <div class="et_navbar_search_wrapper hidden-xs">
                                <div class="et_search_bar" id="search_button">
                                    <a href="javascript:;"><i class="fa fa-search waves-effect waves-light"
                                            aria-hidden="true"></i></a>
                                </div>
                                <div id="search_open" class="et_search_box">
                                    <input type="text" placeholder="Search text...">
                                    <a href="javascript:;"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="sw_icon_bar">
                            <ul class="tc_login_btn_wrapper">
                                <li class="dropdown tc_login_btn">
                                    <a class="dropdown-toggle hvr-float-shadow active waves-effect waves-light"
                                        data-toggle="dropdown" href="javascript:;"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu tc_menu_fixed_border">
                                       
                                        <% if(session == null){ %>
                                            <li class="dropdown_hover"><a href="/register">Register</a></li>
                                            <li class="dropdown_hover"><a href="/login">Login</a></li>
                                         <% }else{ %>
                                             <li><a href="/logout"><i class="icon-user">logout</a></i>
                                         <% } %>
                                        <li class="dropdown_hover hidden-lg"><a href="contact">Free Quote</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>

                </nav>
            </div>
            <!-- /.main-menu-wrapper -->
            <!-- mobile menu area start -->
            <div class="mobile-menu-area visible-sm visible-xs">
                <div class="container header_container">
                    <div class="row">

                        <div class="col-xs-12 cc_menu_top_margin">
                            <!-- mobile menu start -->
                            <div class="mobile-menu">
                                <nav>
                                    <ul class="nav">
                                        <li><a href="/">Home</a>

                                        </li>
                                        <li><a href="about">about us</a>
                                        </li>
                                        <li><a href="service">services</a>
                                        </li>


                                        <li><a href="shop" title="">shop</a>

                                        </li>
                                        <li><a href="contact"> contact us</a>

                                        </li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li class="caret_btn">
                                            <a href="javascript:;"><i
                                                    class="fa fa-shopping-basket"></i><span>8</span></a>
                                            <ul>
                                                <li>
                                                    <div class="cc_cart_wrapper1 menu-button">
                                                        <div class="cc_cart_img_wrapper">
                                                            <img src="/userAssets/images/cart_1.png" alt="cart_img" />
                                                        </div>
                                                        <div class="cc_cart_cont_wrapper">
                                                            <h4><a href="javascript:;">put a title here</a></h4>
                                                            <p>1 <span> $145 </span> </p>
                                                            <h5><i class="fa fa-times"></i></h5>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="cc_cart_wrapper1 menu-button">
                                                        <div class="cc_cart_img_wrapper">
                                                            <img src="/userAssets/images/cart_2.png" alt="cart_img" />
                                                        </div>
                                                        <div class="cc_cart_cont_wrapper">
                                                            <h4><a href="javascript:;">put a title here</a></h4>
                                                            <p>1 <span> $145 </span></p>
                                                            <h5><i class="fa fa-times"></i></h5>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="cc_cart_wrapper1 menu-button">
                                                        <div class="cc_cart_img_wrapper">
                                                            <img src="/userAssets/images/cart_3.png" alt="cart_img" />
                                                        </div>
                                                        <div class="cc_cart_cont_wrapper">
                                                            <h4><a href="javascript:;">put a title here</a></h4>
                                                            <p>1 <span> $145 </span></p>
                                                            <h5><i class="fa fa-times"></i></h5>
                                                        </div>
                                                    </div>
                                                    <div class="btm_cart_wrapper">
                                                        <h5>$450.00</h5>
                                                        <p>3 items</p>
                                                    </div>
                                                    <div class="cart_checkout_btn">

                                                        <a href="checkout"
                                                            class="waves-effect waves-light waves-ripple">checkout</a>

                                                    </div>
                                                </li>

                                            </ul>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                            <!-- mobile menu end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile menu area end -->

            <!-- /.main-menu-wrapper -->
        </div>
    </div>

    <div class="header_btn">
        <ul>
            <li>
                <a href="contact"  class="waves-effect waves-light waves-ripple">free quote</a>
            </li>
        </ul>
    </div>
</div>
<!--sw header wrapper end-->