<!DOCTYPE html>

<html lang="zxx">
<!--[endif]-->

<head>
  <meta charset="utf-8" />
  <title>Register</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description" content="smart pest" />
  <meta name="keywords" content="solar system /sun & wind" />
  <meta name="author" content="" />
  <meta name="MobileOptimized" content="320" />
  <!--start theme style -->
  <link rel="stylesheet" type="text/css" href="/userAssets/css/animate.css"/>
  <link rel="stylesheet" type="text/css" href="/userAssets/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/meanmenu.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/slicknav.min.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/owl.carousel.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/magnific-popup.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/venobox/css/venobox.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/owl.theme.default.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/flaticon.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/camera.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/style_2.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/responsive_2.css" />
  <link rel="stylesheet" type="text/css" href="/userAssets/css/form.css" />
  <!-- favicon link-->
  <link rel="shortcut icon" type="image/icon" href="/userAssets/images/favicon.png" />
</head>

<body>
  <div class="login_main_wrapper res_main_wrapper">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="image-wrap">
            <img src="/userAssets/images/form-image.gif" alt="img" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="sw_contact_form_wrapper sw_contact_form_padder login_form_wrapper">
            <div class="contact_right_wrapper">
              <div class="cmnt_area_div_mn">
                <div class="sw_left_heading_wraper sw_dark_heading_wraper">
                  <h1>Register</h1>
                  <img src="/userAssets/images/heading_line.png" alt="title" />
                  <p>
                    Distributor REGIster
                  </p>
                </div>
                <div class="row">
                  <form action="/register" id="form" method="post">
                    <div class="cont_main_section">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="contect_form1">
                          <input type="text" id="username" name="username" placeholder="Username*" class="require" />
                          <span id="name_error" class="error"></span>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="contect_form1">
                          <input type="text" id="adharnumber" name="adharnumber" placeholder="Adhar Number*" class="require" />
                          <span id="adhar_error" class="error"></span>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="contect_form1">
                          <input type="text" id="phonenumber" name="phonenumber" placeholder="Phone Number*" class="require" />
                          <span id="phone_error" class="error"></span>
                        </div> 
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="contect_form1">
                          <input type="email" id="email" name="email" placeholder="Email*" class="require" data-valid="email"
                            data-error="Email should be valid." />
                            <span id="email_error" class="error"></span>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="contect_form1">
                          <input type="password" id="password" name="password" placeholder="Password*" class="require"
                            data-valid="email" data-error="Email should be valid." />
                            <span id="pass_error" class="error"></span>
                        </div>
                      </div>
                      <% if(typeof message !=='undefined' ){ %>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <p class="Danger" role="alert">
                            <%= message %>
                          </p>
                        </div>
                        <% } %>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="buttons">
                              <button type="submit" class="form-btn">
                                Sign up
                              </button>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="login-sec">
                              <span>Already have an account ? </span>
                              <a href="/login"> Login Now</a>
                            </div>
                          </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--js code-->
</body>

</html>