<%- include('../distributorLayout/header.ejs') %>

  <%- include('../distributorLayout/sidebar.ejs') %>

    <%- include('../distributorLayout/navbar.ejs') %>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">

            <h1>product List</h1>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">

                  <div class="text-right mb-3">
                    <a type="button"  class="btn btn-success " href="/distributor/addProduct">addProduct</a>
                  </div>
                  
                  <div class="table-responsive">
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th> No</th>
                          <th> productimage </th>
                          <th> productname</th>
                          <th>price</th>
                          <th>brand</th>
                          <th>category</th>
                          
                          <th>quantity</th>
                          <th>action</th>





                        </tr>
                      </thead>
                      <tbody>

                        <%# if(product.length> 0){
                          for(let i = 0;i < product.length;i++ ){ %>
                            <tr>
                              <td>
                                1
                                <!-- <%#= i+1 %> -->
                              </td>
                              <td>
                                <!-- loop -->
                                <img src="../../public//distributorAssets/images/img1687092718763-71c+23A+pcL._SL1500_.jpg" alt="productImage">
                                <%# for(let j=0;j<1;j++){ %>
                                  <!-- <img style="width:30px" ; height="50px" -->
                                    <!-- src="/distributorAssets/distributorImage/<%#= product[i].productImage[j] %>" alt="No image"> -->
                                  <%# } %>
                              </td>

                              <td>
                                ProductName
                                <%#= product[i].productName %>
                              </td>
                              <%# 
                                
                                const discount =  product[i].discountPercentage; 
        
                                const price =  product[i].price 
        
                                const discountAmount = Math.round((price*discount)/100)
        
                                const total = price - discountAmount

                                %>
                                <td>
                                  <%# if(discountAmount <= 0) {%>
                                    <%#= product[i].price %>
                                    <%# }else{ %>
                                  <del class="text-danger"><%#= product[i].price %> 129</del>
                                  <%#= total %>
                                  <%# } %>
                                </td>
                              <td>
                                Brand
                                <%#= product[i].brand %>
                              </td>
                              <!-- <td>
                                <%#= product[i].categoryName %>
                              </td> -->
                             
                              <td>
                                quantity 1
                                <%#= product[i].quantity %>
                              </td>

                              <td>

                                <a type="button" class="btn btn-success" >Edit</a>
                                <!-- <a type="button" class="btn btn-success" href="/distributor/editProduct/<%#= product[i]._id %>">Edit</a> -->
                                <!-- <a class="btn btn-dark" href="/distributor/deleteProduct?id=<%#= product[i]._id %>" onclick="return confirm('Are you sure you want to Delete <%#= product[i].productName %>?')">Delete</a>
                                 -->

                              </td>
                              <td>
                                <button type="button" class="btn btn-outline-success btn-sm"  data-bs-toggle="modal" data-bs-target="#offerModal-<%#= product[i]._id %>"
                                data-bs-whatever="@mdo">Add offer</button>
                              </td>

                            </tr>
                            <%# } } else{ %>
                              <tr>
                                <td colspan="5">Users not found</td>
                              </tr>
                              <%# } %>



                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
           

      
<!-- product offer section inserting modal section -->
<%# for (let i = 0; i < product.length; i++) { %>
  <div class="modal fade" id="offerModal-<%#= product[i]._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #191C24;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/distributor/addOffer" method="post">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">discount Name</label>
              <input type="text" class="form-control" id="recipient-name" name="discountName">
              <input type="hidden" name="id" value="<%#= product[i]._id %>">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">discount Percentage</label>
              <input type="text" class="form-control" id="recipient-name" name="discountPercentage">
              <input type="hidden" name="id" value="<%#= product[i]._id %>">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">expiryDate of Offer</label>
              <input type="date" class="form-control" id="expiry-date-<%#= product[i]._id %>" name="expiryDate" onchange="validateExpiryDate('expiry-date-<%#= product[i]._id %>')">
              <input type="hidden" name="id" value="<%#= product[i]._id %>">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<%# } %>

<script>
  function validateExpiryDate(productId) {
    var selectedDate = document.getElementById(productId).value;
    var currentDate = new Date().toISOString().split('T')[0];
    
    if (selectedDate < currentDate) {
      alert("Expiry date cannot be less than the current date.");
      return false;
    }
    
    
  }
</script>
      <%- include('../distributorLayout/footer.ejs') %>